@import 'src/assets/variables.module.scss';

.title-page-box {
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: map-get($theme-colours, "secondaryColour");;
}

.title-page-title {
  font-size: 7.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  color: map-get($theme-colours, "accentColour");
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  0% {
    opacity: 1;
   }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

#down-arrow {
  cursor: pointer;
  font-size: 3vh;
  color: map-get($theme-colours, "accentColour");
  animation: pulse 4s linear infinite;
  margin-top: 92vh;
}